.boton{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-background-radius: 5;
}

.boton:hover {
    -fx-background-color: #444;
}

.botonAgregarUbi{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-max-width: 25;
    -fx-max-height: 25;
    -fx-background-radius: 5;
}

.botonAgregarUbi:hover {
    -fx-background-color: #444;
}
